@import url('https://fonts.googleapis.com/css2?family=Amarante&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Amarante;
}

.cabecalho {
    background-color: #f3f300;
    color: white;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    position: sticky;
    left: 0;
    top: 0;
    z-index: 999;
}

.div-logo img {
    width: 20%;
}

.div-button a button {
    width: 5rem;
    padding: 0.5rem;
    background-color: black;
    border: none;
    font-weight: 700;
    color: white;
    border-radius: 10px;
}

.section-01 {
    padding: 9rem;
    background-image: url(imagem/fundo.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.div-01 {
    background-color: #ffff69;
    color: #000000;
    text-align: center;
    font-weight: bold;
    font-size: 1.7rem;
    padding: 1rem;
    width: 25%;
    height: 20rem;
    min-width: 299px;
}

.div-01 p {
    margin-top: 1rem;
}

.span {
    color: chocolate;
}

.div-02 {
    padding: 1rem;
    width: 25%;
    min-width: 299px;
    position: center;
}

.ul-div01 li a {
    text-decoration: none;
    background-color: #000000;
    color: white;
    padding: 5px;
    font-size: 1.3rem;
    border-radius: 10px;
    
}

.div-img {
    padding: 3%;
    background-image: url(imagem/textura3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.caixa {
    width: 25%;
    height: 20rem;
    background-color: #ffff69;
    min-width: 299px;
    font-size: 1.2rem;
    color: black;
    box-shadow: 10px 10px 20px #8a8a00;
    cursor: pointer;
    font-weight: 600;
}

.section-02 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 5rem;
    background-color: #000000;
    flex-wrap: wrap;
}